.custom-body {
  border-radius: 5px 5px 0px 0px;
  border-top: 4px solid #0000ff;
  text-align: center;
}
.custom-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.custom-p {
  margin: 0px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.custom-span {
  font-size: 12px;
  color: #999999;
}
.custom-footer {
  background: #ffffff;
  border-top: 1px solid #dddddd;  
}

